{
    'extends': 'airbnb',
    'parser': 'babel-eslint',
    'env': {
        'es6': true,
        'node': true,
        'mocha': true
    },
    'ecmaFeatures': {
        'forOf': true,
        'jsx': true,
        'es6': true
    },
    'rules': {
        'react/prefer-stateless-fuction': 0,
        'comma-dangle': 0,
        'indent': [2, 4, {'SwitchCase': 1}],
        'react/prop-types': 0,
        'react/jsx-indent': [2, 4],
        'react/jsx-indent-props': [2, 4],
        'no-underscore-dangle': ['off'],
        'no-shadow': ['off'],
        'max-len': [1],
        'import/no-unresolved': ['off'],
        'import/extensions': ['off'],
        'no-undef': ['off'],
        'jsx-a11y/no-static-element-interactions': ['off'],
        'react/no-string-refs': ['off'],
        'no-mixed-operators': ['off'],
        'no-plusplus': ['off'],
        'prefer-template': ['off'],
        'react/no-did-mount-set-state': ['off'],
        'func-call-spacing': ['off'],
        'no-spaced-func': ['off'],
        'object-shorthand': ['off'],
        'radix': ['off'],
        'global-require': ['off'],
        'react/no-array-index-key': ['off'],
    },
    'settings': {
        'import/resolver': 'webpack'
    },
    'globals': {
        'document': true,
        'foo': true,
        'window': true
    }
}