.nav {
    width: 100%;
    position: relative;

    text-align: right;

    background: #30343f;
}
.items {
    position: relative;
    padding: 0 44px;
    z-index: 9;
    li {
        display: block;
        padding: 15px 0;

        border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
    a {
        display: block;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }
}
